/* *{
    margin: 0px;
} */
.gold-yello {
    background: radial-gradient(circle at 10% 20%, rgb(228, 118, 0) 0%, rgb(247, 189, 2) 90%);
}
.navbar {
    height: 100px;
}
.nav-item {
    margin-left: 20px;
}
.carousel-indicators {
    margin: 0px !important;
    height: 0px !important;
}
.carousel-indicators ol {
    width: 100%;
}

.carousel-indicators li {
    height: 3px !important;
    border-radius: 0px !important;
    width: 25%;
}
.carousel-style {
    width: 100%;
    height: 200px;
}
.caro-banner{
    /* height: 750px; */
    

}
.caro-container {
    
    background-repeat: none;
    background-position: left bottom;

}
.caro-inner-style {
    /* background: linear-gradient(to top, #09203f 0%, #537895 100%); */
    /* border: 2px solid black; */
}

#carouselExampleIndicators{
    color: white;
}
.carousel-item {
    background-image: url(images/bg-2.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}
.carousel-item-img {
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.carousel-item-img img {
    margin-left: 22px;
}
.caro-text {
    margin-left: 140px;
    color: black;
}
.caro-text p{
    /* margin-left: 10px; */
    color: black;
}
.caro-text button{
    /* margin-left: 10px; */
    
}
.btn-buy {
    /* position: relative;
    left: 100px; */
}
.btn-buy-posi {

}
.card {
    border: none;
    box-shadow: 10px 10px 20px lightgray;
    padding: 20px 15px;
    margin-right: 20px;
    border-radius: 50px;
}
.card-footer {
    border-top: none;
    background-color: white;
}
section {
    margin-bottom: 100px;
}
section h1 {
    margin-bottom: 30px;
}
.categorie-title {
    /* text-decoration-line: underline; */
    /* text-decoration-thickness: 10px; */
    /* text-decoration-color: gold; */
    /* text-decoration-color: radial-gradient(circle at 10% 20%, rgb(228, 118, 0) 0%, rgb(247, 189, 2) 90%); */

}
.underline {
    padding-top: 100px;
}
.cl{
    background-color: aqua;
}
.two-image {
    /* margin-top: 100px; */
}
.cat {
    box-shadow: 10px 10px 10px lightgray;
    border-radius: 20px;
    padding: 40px 40px;
}
.cat h4 {
    margin-top: 15px;
}
@media (max-width: px) {
    .catagorie{
        /* display: flex;
        flex-direction: column; */
    }
}