/* *{
    margin: 0px;
} */
carousel-style {
    width: 100%;
    height: 200px;
}
.caro-inner-style {
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
}
#carouselExampleIndicators{
    color: white;
}